@font-face
{
    font-family: "MyriadPro";
    src: url("Fonts/MyriadPro.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    max-width: 1024px;
    height: 2000px;
    margin: 0 auto;
    background-color: #F6F6F6;
    position: relative;
}

logo {
    position: relative;
    float: left;
    margin: 20px 0px 0px 0px;
}

groupsearch {
    position: relative;
    float: right;
    width: 243px;
    height: 40px;
    margin: 20px;
    background: #FFFFFF;
    border-radius: 18px;
    box-shadow: 0 0 2px;
}

bookseach {
    position: relative;
    float: left;
    margin: 20px 0px 0px 0px;
    width: 98%;
    height: 40px;
    ackground: #FFFFFF;
    order-radius: 13px;
    ox-shadow: 0 0 2px;
}

main {
    position: relative;
    padding: 200px;
}

h1 {
    font-family: "MyriadPro";
    color: #000000;
    font-size: 38px;
    text-align: center;
}

subjects {
    position: relative;
    float: left;
    margin-top: 0px;
    width: 1024px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 30px;
}

main1 {
    position: absolute;
    left: 0;
    margin: 200px 0px 0px 0px;
}

h2 {
    position: absolute;
    margin: 25px 0px 0px 20px;
    font-family: "MyriadPro";
    font-size: 30px;
}

bookinput {
    position: absolute;
    margin: 8px 0px 0px 0px;
    font-size: 8px;
}

groupinput {
    position: absolute;
    margin: 17px 0px 0px 30px;
}

subjectelement {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/subject.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

subject {
    position: absolute;
    margin: 30px 0px 0px 20px;
    font-family: "MyriadPro";
    font-size: 24px;
    max-width: 130px;
}

subjectsscroll {
    position: absolute;
    margin: 60px 0px 0px 4px;
}

books {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 1024px;
    height: 600px;
    background: #FFFFFF;
    border-radius: 30px;
}

booksscroll {
    position: absolute;
    margin: 80px 0px 0px 8px;
}

bookelement {
    position: relative;
    margin: 20px 0px 0px 0px;
    width: 200x;
    height: 229px;
    display: inline-table;
}

bookname {
    position: relative;
    float: right;
    margin: 25px 0px 0px 10px;
    padding-right: 10px;
    font-family: "MyriadPro";
    font-size: 20px;
    max-width: 150px;
}

description {
    position: relative;
    float: left;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 100%;
}

p {
    font-family: "MyriadPro";
    position: absolute;
    margin-top: 80px;
    float: left;
}

bookseach2 {
    position: relative;
    float: left;
    margin: 30px 0px 0px 0px;
    width: 535px;
    height: 65px;
    background: url(/Details/Search.png) center no-repeat;
    background-size: cover;
}

subjectstable {
    position: absolute;
    width: 1024px;
    height: 1000px;
    margin: 100px 0px 0px 0px;
}

allsubjects {
    position: absolute;
    right: 0;
    margin: 10px 20px;
    font-family: "MyriadPro";
}

allbooks {
    position: absolute;
    right: 0;
    margin: 10px 20px;
    font-family: "MyriadPro";
}

bookstable {
    position: absolute;
    width: 1024px;
    height: 100%;
    margin: 100px 0px 0px 0px;
}



bookauthor {
    color: #8D8F91;
    max-width: 150px;
}

allbookstitle {
    position: absolute;
    width: 500px;
    margin: 0px 0px 0px 220px;
}

librarytitle {
    position: relative;
    text-align: center;
    margin: 500px;
}

allsubjectstitle {
    position: absolute;
    width: 300px;
    margin: 0px 0px 0px 320px;
}

bookscrollname {
    position: relative;
    float: right;
    font-family: "MyriadPro";
    margin: 25px 0px 0px 0px;
    font-size: 120%;
}

input {
  padding: 3px 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.list {
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 4px 7px;
  position: absolute;
  margin-left: -1000px;
  background: white;
  box-shadow: 1px 1px 6px rgb(195, 195, 195);
  border-radius: 2px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  z-index:10;
  
}

.list li {
  padding: 3px 5px;
  cursor: pointer;
}

.list li:hover {
  background: lightgray;
}

.show .list { 
  margin-left:1px;
  opacity: 1;

}

.list li .amount {
  display: inline-block;
  padding: 0px 0px;
  background-color: rgb(83, 177, 211);
  border-radius: 3px;
  margin: 0 0 3px 10px;
  font-size: 65%;
  color: white;
}



.searchContainer img{
    width: 40px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

dropdown-list {
    position: absolute;
    padding: 8px 0px 0px 15px;
}

a {
    text-decoration: none;
    color: #000;
}

subjectstitle {
    position: relative;
}

booktitle {
    position: relative;
}

line {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    height: 150px;
    background: url(Details/BLine.png) no-repeat center center fixed;
    background-size: cover;
    font-family: "MyriadPro";
}





book {
    position: relative;
    margin: 0px 0px 0px 0px;
}

bookinfo {
    position: absolute;
    margin: -350px 0px 0px 300px;
    width: 600px;
    font-family: "MyriadPro";
    font-size: 24px;
}





readonline {
    position: absolute;
    width: 350px;
    height: 34px;
    text-align: center;
    margin: -150px 0px 0px 300px;
    border-radius: 8px;
    box-shadow: 0 0 2px;
    background: #f8c95c;
    font-family: "MyriadPro";
    font-size: 32px;
}

download {
    position: absolute;
    width: 350px;
    height: 34px;
    text-align: center;
    margin: -100px 0px 0px 300px;
    border-radius: 8px;
    box-shadow: 0 0 2px;
    background: #f8c95c;
    font-family: "MyriadPro";
    font-size: 32px;
}



algem {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/algem.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

english {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/english.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

geometry {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/maths.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

discrete {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/discret.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

history {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/history.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

matan {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/maths.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

russian {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/russian.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

other {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/physedu.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

info {
    position: relative;
    margin: 10px 0px -10px -5px;
    width: 250px;
    height: 128px;
    background: url(/Details/SubjectIcons/history.png) center no-repeat;
    background-size: cover;
    display: inline-table;
}

h3 {
     color: #F89E4C;
}


